.movies1 {
            position: relative;
            padding: 10px;
            top: 0;
            border: 2px white solid;
            width: inherit;
            height: 555px;
        }
        img {
            position: relative;
            width: 200px;
            left: 0;
        }
        div.pos, strong:nth-child(3n) {
            font-size: 20px;
            font-family: cursive;
            position: absolute;
            top: 2px;
            left: 230px;
            padding-top: 2px;
        }
        div.movies2 {
            position: relative;
            top: 5px;
            border: 2px white solid;
            height: 400px;
            width: inherit;
            padding: 20px;
        }
        div.pos1 {
            position: absolute;
            font-size: 20px;
            font-family: cursive;
            top: 2px;
            left: 230px;
            padding-top: 2px;
        }
        div.movies3 {
            left: 0;
            position: relative;
            top: 10px;
            border: 2px white solid;
            height: 400px;
            width: inherit;
            padding: 20px; 
        }
        div.pos2 {
            position: absolute;
            font-size: 20px;
            font-family: cursive;
            top: 2px;
            left: 230px;
            padding-top: 2px;
        }
        .movies4 {
            left: 0;
            position: relative;
            top: 15px;
            border: 2px white solid;
            height: 480px;
            width: inherit;
            padding: 20px;
        }
        div.pos3 {
            position: absolute;
            font-size: 20px;
            font-family: cursive;
            top: 2px;
            left: 230px;
            padding-top: 2px;
        }